@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
    text-align: left;
    font-size: 20;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#Contener{
 width: 1330;
 height: 951;
}
.bag{
    float: right;
    margin-right: -200;
}
.imfbag{
    float: left;
    margin-left: 650;
    margin-top: -940;
}
.tfbag{
    margin-top: -740;
    float: left;
    margin-left: 670;
}
p{
    font-size: 33;
}
form1{
    float: right;
    margin-right: -100;
    margin-top: -630;
    width: 650;
    height: 436;
    background-color: white;
    border-radius: 30px;
}
.iat{
    float: right;
    margin-right: 50;
    margin-top: 50;
}
p2{
    color: #F74A21;
    padding: 10;
    font-size: 27;
}
.iat2{
    float: right;
    margin-right: -165;
    margin-top: 130;
}
p3{
    color: #F74A21;
    padding: 10;
    font-size: 27;
}
.iat3{
    float: right;
    margin-right: -165;
    margin-top: 200;
}
p4{
    color: #F74A21;
    padding: 10;
    font-size: 27;
}
.iat4{
    float:left;
    margin-top: 50;
    margin-left: 50;
}
p5{
    color: #F74A21;
    padding: 10;
    font-size: 27;
}
.tfbag2{
    margin-top: 300;
    float: right;
    margin-right: -165;
}
.icons{
    margin-top: 300;
    float: right;
    margin-right: -100;
    padding: 40;
}
.icons{
    margin-top: 300;
}
ul>li{
    list-style-type: none;
    float: left;
    padding: 20;
}
ul{
    float: right;
    margin-right: -120;
}
.imfbag2{
    float: left;
    margin-top: -250;
    margin-left: 50;
}
.imfbag3{
    float: right;
    margin-top: -800;
    margin-right: -50;
}
form2{
    width: 600;
    height: 436;
    float: left;
    margin-top: -630;
    margin-left: 150;
    background-color: white;
    border-radius: 30px;
}
.text1{
    float: right;
    margin-right: 50;
    margin-top: 50;
}
.text2{
    float: right;
    margin-right: -190;
    margin-top: 100;
}
p8{
    font-size: 20;
    color: #F74A21;
}
.text3{
    float: left;
    margin-top: 50;
    margin-left: 101;
}
.text4{
    float: left;
    margin-top: 20;
    margin-left: 50;
}
p10{
    color: #F74A21;
    font-size: 20;
}
.imfbag4{
    float: left;
    margin-top: 149;
    margin-left: -200;
}
.labl{
    margin-top: 170;

}
#text5{
    float: right;
    margin-right: 40;
    margin-top: -5;
    height: 206;
    width: 253;
    border-radius: 30px;
    padding-bottom: 120;
    text-align: right;
    padding-right: 10;
    background-color: #F74A21;
    color: white;
}
p11{
    float: right;
    margin-right: 50;
    padding-bottom: 10;
}
.imfbag5{
    float: left;
    margin-left: 200;
    margin-top: -800;
}
.labu{
    float: left;
    margin-left: 640;
    margin-top: -170;
}
.labu1{
    width: 251;
    height: 79;
    text-align: center;
    border-radius: 0px 20px 0px 20px;
    background-color: #F74A21;
    color: white;
}